In [51]:
import pandas as pd

from sklearn.preprocessing import StandardScaler

In [2]:
data_startup = pd.read_csv('50_Startups.csv')

In [7]:
data_startup.sample(7)

    R&D Spend  Administration  Marketing Spend     State     Profit
0   165349.20       136897.80        471784.10  New York  192261.83
36   28663.76       127056.21        201126.82   Florida   90708.19
8   120542.52       148718.95        311613.29  New York  152211.77
4   142107.34        91391.77        366168.42   Florida  166187.94
23        NaN       105751.03              NaN   Florida  108733.99
38   20229.59        65947.93              NaN  New York   81229.06
7   130298.13             NaN        323876.68   Florida  155752.60

In [45]:
#1 Lakukan analisa mengenai field mana saja yang memiliki data kosong(Nan) lalu Isi data yang kosong tersebut menggunakan nilai mean

# Menemukan kolom yang memiliki data kosong (NaN)
missing_data_columns = data_startup.columns[data_startup.isnull().any()].tolist()

# Menghitung nilai mean untuk setiap kolom yang memiliki data kosong
mean_values = {column: data_startup[column].mean() for column in missing_data_columns}

# Mengisi data kosong dengan nilai mean
data_startup.fillna(mean_values, inplace=True)

# Menampilkan hasil pre-processing
print(data_startup.sample(10))

     R&D Spend  Administration  Marketing Spend       State     Profit
23   76788.862       105751.03    223582.690222     Florida  108733.99
4   142107.340        91391.77    366168.420000     Florida  166187.94
43   15505.730       127382.30     35534.170000    New York   69758.98
15  114523.610       122616.84    261776.230000    New York  129917.04
41   27892.920        84710.77    164470.710000     Florida   77798.83
44   22177.740       154806.14     28334.720000  California   65200.33
40   28754.330       118546.05    172795.670000  California   78239.91
38   20229.590        65947.93    223582.690222    New York   81229.06
25   64664.710       139553.16    137962.620000  California  107404.34
2   153441.510       101145.55    407934.540000     Florida  191050.39

In [49]:
#2 lakukan oneHotEncoder ke field state

# Melakukan one-hot encoding pada kolom 'State'
data_encoded = pd.get_dummies(data_startup, columns=['State'])

# Menampilkan hasil encoding
print(data_encoded.sample(10))

     R&D Spend  Administration  Marketing Spend         Profit  \
47   76788.862   135426.920000    223582.690222   42559.730000
31   76788.862   152701.920000     88218.230000  111850.855208
40   28754.330   118546.050000    172795.670000   78239.910000
48     542.050    51743.150000    223582.690222   35673.410000
15  114523.610   122616.840000    261776.230000  129917.040000
35   46014.020    85047.440000    205517.640000   96479.510000
18   91749.160   114175.790000    294919.570000  124266.900000
24   77044.010   122790.158298    140574.810000  108552.040000
34   46426.070   157693.920000    210797.670000   96712.800000
3   144372.410   118671.850000    383199.620000  182901.990000

    State_California  State_Florida  State_New York
47              True          False           False
31             False          False            True
40              True          False           False
48             False          False            True
15             False          False            True
35             False          False            True
18             False           True           False
24             False          False            True
34              True          False           False
3              False          False            True

In [50]:
#3 buat field baru yaitu Tax. dimana Tax = (profit + Marketing Spend + administration) * 5%

# Menghitung Tax berdasarkan rumus yang diberikan
data_startup['Tax'] = (data_startup['Profit'] + data_startup['Marketing Spend'] + data_startup['Administration']) * 0.05

# Menampilkan hasil dengan kolom Tax baru
print(data_startup.sample(10))

     R&D Spend  Administration  Marketing Spend       State         Profit  \
41   27892.920        84710.77        164470.71     Florida   77798.830000
8   120542.520       148718.95        311613.29    New York  152211.770000
32   63408.860       129219.61         46085.25  California   97427.840000
31   76788.862       152701.92         88218.23    New York  111850.855208
12   93863.750       127320.38        249839.44     Florida  141585.520000
6   134615.460       147198.87        127716.82  California  156122.510000
20   76253.860       113867.30        298664.47  California  118474.030000
30   61994.480       115641.28         91131.24     Florida   99937.590000
9   123334.880       108679.17        304981.62  California  149759.960000
13   91992.390       135495.07        252664.93  California  111850.855208

            Tax
41  16349.01550
8   30627.20050
32  13636.63500
31  17638.55026
12  25937.26700
6   21551.91000
20  26550.29000
30  15335.50550
9   28171.03750
13  25000.54276

In [57]:
#4 Jalankan standardScaler field-field tersebut

# Mengambil kolom numerik untuk scaling
numeric_columns = data_startup.select_dtypes(include=['float64', 'int64']).columns

# Inisialisasi StandardScaler
scaler = StandardScaler()

# Fitting dan transformasi data
data_startup[numeric_columns] = scaler.fit_transform(data_startup[numeric_columns])

# Menampilkan hasil scaling
print(data_startup.sample(10))

       R&D Spend  Administration  Marketing Spend       State    Profit  \
17  4.189331e-01    8.757175e-01     5.464771e-01    New York  0.340346
26 -3.423040e-02    8.387201e-01    -8.293979e-01     Florida -0.154000
36 -1.128322e+00    1.676217e-01    -2.080231e-01     Florida -0.532254
43 -1.436820e+00    1.804345e-01    -1.742014e+00    New York -1.059638
28 -2.517435e-01    2.351839e+00    -9.767071e-01     Florida -0.215706
4   1.531431e+00   -1.233706e+00     1.320863e+00     Florida  1.367903
16  2.870324e-02   -4.685997e-02     3.776171e-01  California  0.381193
38 -1.326067e+00   -2.233445e+00     1.687539e-16    New York -0.770885
24  5.982100e-03    1.337728e-16    -7.689550e-01    New York -0.083046
49 -1.232190e-16   -2.281435e-01    -1.652722e+00  California -2.446183

         Tax
17  0.680713
26 -0.533550
36 -0.282432
43 -1.619579
28 -0.388814
4   1.188570
16  0.392873
38 -0.628047
24 -0.619737
49 -2.020525